<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Define package name here if not using relative '.MainActivity' -->
    <!-- Example: package="com.yourcompany.kotlintoswifttranslator" -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinToSwiftTranslator" <!-- Adjust theme name if needed -->
        tools:targetApi="31">

        <activity
            android:name=".MainActivity" <!-- Relative name assumes package is defined in <manifest> or <application> -->
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KotlinToSwiftTranslator" <!-- Adjust theme name if needed -->
            android:screenOrientation="landscape"> <!-- Ensure landscape orientation -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
